<% if(sess.role){
	
	if(sess.role != 1){
	
		if(sess.user_id != user.account_no ){
%>
                        <% include error_dash.ejs %>


<%
	} 
    }
%>



<% include templates/header_dash.ejs %>
<body>
	 <% if(sess.role == 1){ %>
                <header id="header">
			<hgroup>
				<h1 class="site_title">Bank of Rory - <a href="../../dashboard/admin/<%= sess.user_id %>">Dashboard</a></h1>
				<h2 class="section_title">&nbsp;</h2>
                                <div class="btn_view_site"><a href="../../dashboard/admin/<%= sess.user_id %>"><%= sess.fname %> <%=sess.lname %></a></div>
				<div class="btn_view_site"><a href="/logout">Log Out</a></div>
			</hgroup>
		</header> <!-- end of header bar -->
		
		<section id="secondary_bar">
			<div class="user">
			</div>
			<div class="breadcrumbs_container">
				<article class="breadcrumbs"><a class="current" href="../../dashboard/admin/<%= sess.user_id %>">Dashboard</a> </article>
			</div>
		</section><!-- end of secondary bar -->
		

	 <% } else { %>
                <header id="header">
			<hgroup>
				<h1 class="site_title">Bank of Rory - <a href="../../dashboard/user/<%= user.account_no %>">Dashboard</a></h1>
				<h2 class="section_title">&nbsp;</h2><div class="btn_view_site"><a href="/dashboard/user/<%= user.account_no %>"><%= sess.fname %> <%=sess.lname %></a></div></h2>
                                <div class="btn_view_site"><a href="/logout">Log Out</a></div>
			</hgroup>
		</header> <!-- end of header bar -->
		
		<section id="secondary_bar">
			<div class="user">
			</div>
			<div class="breadcrumbs_container">
				<article class="breadcrumbs"><a href="../../dashboard/user/<%= user.account_no %>">Dashboard</a>
                                <div class="breadcrumb_divider"></div> <a href="../../dashboard/deposit/<%= user.account_no %>" class="current">Deposit</a></article>
			</div>
		</section><!-- end of secondary bar -->	 
	 
	 <% } %>
	

        <% include templates/side_bar.ejs %>

	<section id="main" class="column">
	 
	  <div class="clear"></div><!-- end of post new article -->

	  <% if(sess.role == 1 ){ %>
	   <div class="spacer"></div>
            <article class="module width_full">
		<header><h3>Database Error</h3></header>
                <div class="module_content">
                    <h2>Database Error</h2>
                        <div class="alert alert-danger" role="alert">    
                            <p class="alert-link error_message">Database Error Please try again later.</p>
                        </div>
                        <div class="clear"></div>
                        <p>&nbsp;</p>
                </div>
               </article><!-- end of styles article -->



          <div class="spacer"></div>
	   
	  <% } else { %>
	  <div class="spacer"></div>
            <article class="module width_full">
		<header><h3>Database Error</h3></header>
                <div class="module_content">
                    <h2>Database Error</h2>
                        <div class="alert alert-danger" role="alert">    
                            <p class="alert-link error_message">Database Error Please try again later.</p>
                        </div>
                        <div class="clear"></div>
                        <p>&nbsp;</p>
                         <p>&nbsp;</p>		
				<h3>Quick Links <a href="../../dashboard/deposit/<%= user.account_no %>">Deposit Money</a>&nbsp;&nbsp;
				<a href="../../dashboard/withdrawal/<%= user.account_no %>">Withdraw Money</a>&nbsp;&nbsp;
				<a href="../../dashboard/history/<%= user.account_no %>">Account History</a> </h3>
                </div>
               </article><!-- end of styles article -->
			 
	  <% } %>
		<div class="spacer"></div>

	</section>           
        
<% include templates/footer_dash.ejs %>


<%} else{ %>

    
     <% include error_dash.ejs %>

<% } %>
 