<% if(sess.role){
	
	if(sess.role != 1){
	
		if(sess.user_id != user.account_no ){
%>
                        <% include error_dash.ejs %>


<%
		}else{
%>



<% include templates/header_dash.ejs %>
<body>
	 <% if(sess.role == 1){ %>
                <header id="header">
			<hgroup>
				<h1 class="site_title">Bank of Rory - <a href="dashboard/admin/<%= sess.user_id %>">Dashboard</a></h1>
				<h2 class="section_title">&nbsp;</h2>
                                <div class="btn_view_site"><a href="dashboard/user/<%= user.account_no %>"><%= sess.fname %> <%=sess.lname %></a></div>
				<div class="btn_view_site"><a href="/logout">Log Out</a></div>
			</hgroup>
		</header> <!-- end of header bar -->
		
		<section id="secondary_bar">
			<div class="user">
			</div>
			<div class="breadcrumbs_container">
				<article class="breadcrumbs"><a class="current" href="dashboard/admin/<%= sess.user_id %>">Dashboard</a> </article>
			</div>
		</section><!-- end of secondary bar -->
		

	 <% } else { %>
                <header id="header">
			<hgroup>
				<h1 class="site_title">Bank of Rory - <a href="dashboard/user/<%= user.account_no %>">Dashboard</a></h1>
				<h2 class="section_title">&nbsp;</h2><div class="btn_view_site"><a href="/dashboard/user/<%= user.account_no %>"><%= sess.fname %> <%=sess.lname %></a></div></h2>
                                <div class="btn_view_site"><a href="/logout">Log Out</a></div>
			</hgroup>
		</header> <!-- end of header bar -->
		
		<section id="secondary_bar">
			<div class="user">
			</div>
			<div class="breadcrumbs_container">
				<article class="breadcrumbs"><a href="../../dashboard/user/<%= user.account_no %>">Dashboard</a>
                                <div class="breadcrumb_divider"></div> <a href="../../dashboard/withdraw/<%= user.account_no %>" class="current">Withdraw</a></article>
			</div>
		</section><!-- end of secondary bar -->	 
	 
	 <% } %>
	

        <% include templates/side_bar.ejs %>

	<section id="main" class="column">
	 
	  <div class="clear"></div><!-- end of post new article -->

	  <% if(sess.role == 1 ){ %>
	    
	   
	  <% } else { %>
	  <article class="module width_full">
		 <header><h3>Withdraw Money</h3></header>
			<div class="module_content" data-ng-app="depWit">
				<h1>Withdrawal</h1>
				<p>Please enter an amount to withdraw.</p>
				<p>Current Balance: <strong>&euro; <%= user.balance.toFixed(2) %></strong></p>
                                <p><em>Please do not type in the EURO sign.</br></br><strong>Projected Balance Indicator</strong></br>
                                    Type in an amount to reveal your projected balance</em></p>
                                    
                                <div data-ng-controller="AmountCtrl" >
                                    
                                        <p>Your projected balance is : &euro;  {{ add(<%= user.balance.toFixed(2) %>,amount)}} </p>
                                    

				<% if(typeof message !== 'undefined'){ %>
                                        <div class="alert alert-danger" role="alert">
                                                <p class="alert-link error_message">Error: <%= message %> </p>
                                        </div>
                                <%  }  %>
				<% if(typeof success !== 'undefined'){ %>
                                        <div class="alert alert-success" role="alert">
                                                <p class="alert-link error_message"><%= success %> </p>
                                        </div>
                                        <p><--- Back to <a href="../../dashboard/user/<%= user.account_no %>">Dashboard</a></p>
                                <%  } else {  %>
				<form class="form-horizontal" role="form"  method="POST" 
                                                      action="../../dashboard/withdrawal/<%= user.account_no %>">
					 <input type="hidden" name="_method" value="PUT"/>
				   <table class="view_table">
				   <tr>
				  <div class="form-group">
					<th><label for="input_dep" class="col-sm-2 control-label">Withdrawal Amount</label></th>
					<td> <input type="text" class="form-control" name="input_dep" data-ng-model="amount" placeholder="Withdrawal Amount" required autofocus></td>
				  </div>
				  </tr>
				   <tr>
					<td>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-lg btn-primary btn-block">Withdraw Money</button>
					</div>
				  </div>
				  </td>
				<td></td>
				   </tr>
				  </table>
                                </form>
                		<% } %>
                                
                                </div>
			
                         </div>
                        <p>&nbsp;</p>		
				<h3>Quick Links <a href="../../dashboard/deposit/<%= user.account_no %>">Deposit Money</a>&nbsp;&nbsp;
				<a href="../../dashboard/withdrawal/<%= user.account_no %>">Withdraw Money</a>&nbsp;&nbsp;
				<a href="../../dashboard/history/<%= user.account_no %>">Account History</a> </h3>
						
						
			<!-- </div> -->
	  </article><!-- end of styles article -->
			 
	  <% } %>
		<div class="spacer"></div>

	</section>           
        
<% include templates/footer_dash.ejs %>


<%
                }

	}	

 }else{ %>

    
     <% include error_dash.ejs %>

<% } %>